### Instruction 1:
After importing the dataset using Pandas, start by showing the head of the dataset then some general information about the data columns and values.

In [ ]:
# Importing Pandas library
import pandas as pd

# Importing Titanic dataset and creating a dataframe
df = pd.read_csv('titanic-passengers.csv', sep=';')

# Showing the first 5 rows of the dataframe
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [ ]:
# Listing the columns of our dataframe
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# Length of the dataframe
len(df)

891

In [ ]:
# Shape of the dataframe (rows, columns)
df.shape

(891, 12)

In [ ]:
# Generate descriptive statistics about our dataframe
df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
# Print a concise summary of a DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

### Instruction 2:
As a next step apply what you have learned in Data preprocessing to preprocess your data: find missing informations and replace them by the appropriate values.

We can infer from showing the summary of our dataframe using df.info() that we have missing values in 3 columns : **Age, Cabin and Embarked**
* for the Age, we will fill missing values with the median.
* for Cabin we have so much missing values, we need to drop the column from our dataframe.
* for the Embarked column we will fill missing values with the mode.

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df = df.drop('Cabin', axis=1)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

### Instruction 3:
Transform categorical data using method of your choice(labelEncoder/one hot encoding)

In [ ]:
df.select_dtypes(include='object').head()

,Survived,Name,Sex,Ticket,Embarked
0,No,"Collander, Mr. Erik Gustaf",male,248740,S
1,No,"Moen, Mr. Sigurd Hansen",male,348123,S
2,No,"Jensen, Mr. Hans Peder",male,350050,S
3,No,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,349909,S
4,No,"Davidson, Mr. Thornton",male,F.C. 12750,S

In [ ]:
df.select_dtypes(include='object').columns

Index(['Survived', 'Name', 'Sex', 'Ticket', 'Embarked'], dtype='object')

In [ ]:
df['Name'].nunique()

891

In [ ]:
df['Ticket'].nunique()

681

The columns **Name & Ticket** are useless in our case, they cannot help us predict if a person survive or not so we drop them.

In [ ]:
df = df.drop(columns=['Name', 'Ticket'], axis=1)

In [ ]:
df.select_dtypes(include='object').head()

  Survived     Sex Embarked
0       No    male        S
1       No    male        S
2       No    male        S
3       No  female        S
4       No    male        S

In [ ]:
df['Sex'].nunique()

2

In [ ]:
df['Survived'].nunique()

2

In [ ]:
df['Embarked'].nunique()

3

We will utilize **LabelEncoder** for the Label columns **Survived**. For the features **Sex & Embarked** we will utilize **OneHotEncoder**.

In [ ]:
# Importing Transformer
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Instanciate a label encoder
le = LabelEncoder()
# Encoding the 'Survived' Label
df['Survived'] = le.fit_transform(df['Survived'])

In [ ]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          343         0       2    male  28.0      0      0  13.0000        S
1           76         0       3    male  25.0      0      0   7.6500        S
2          641         0       3    male  20.0      0      0   7.8542        S
3          568         0       3  female  29.0      0      4  21.0750        S
4          672         0       1    male  31.0      1      0  52.0000        S

In [ ]:
df['Survived'].unique()

array([0, 1])

In [ ]:
# Get one hot encoding of columns Sex and Embarked
one_hot_s = pd.get_dummies(df['Sex'])
one_hot_e = pd.get_dummies(df['Embarked'])

# Drop columns Sex and Embarked as it is now encoded
df = df.drop(columns=['Sex', 'Embarked'])

# Join the encoded df
df = df.join([one_hot_s, one_hot_e])

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,female,male,C,Q,S
0,343,0,2,28.0,0,0,13.0000,0,1,0,0,1
1,76,0,3,25.0,0,0,7.6500,0,1,0,0,1
2,641,0,3,20.0,0,0,7.8542,0,1,0,0,1
3,568,0,3,29.0,0,4,21.0750,1,0,0,0,1
4,672,0,1,31.0,1,0,52.0000,0,1,0,0,1

### Instruction 4:
Verify that your data is ready to be treated.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Age          891 non-null    float64
 4   SibSp        891 non-null    int64
 5   Parch        891 non-null    int64
 6   Fare         891 non-null    float64
 7   female       891 non-null    uint8
 8   male         891 non-null    uint8
 9   C            891 non-null    uint8
 10  Q            891 non-null    uint8
 11  S            891 non-null    uint8
dtypes: float64(2), int64(5), uint8(5)
memory usage: 53.2 KB

No missing values, all columns are numerical !